<div class="campeonato" [ngStyle]="setaBg()">
    <!-- <nav class="navbar navbar-light bg-danger">
        <div class="navbar-brand text-white">
            <h1>Campeonato {{informacoesDoCampeonato.nome}}</h1>
        </div>
        <div class="nav-item text-white" (click)="back()">
            VOLTAR
        </div>
    </nav> -->

    <div class="fases">
        <div class="fase-unica" *ngFor="let fase of informacoesDoCampeonato.fases; let i = index">
            <div (click)="selecionaFase(fase)"><span>{{ fase.nome }}</span> <div class="ovelha"></div></div> 
        </div>
    </div>

    <div class="listas">
        <div class="lista-unica" *ngIf="temListaA" (click)="sorteia(0)">Lista A</div>
        <div class="lista-unica" *ngIf="temListaB" (click)="sorteia(1)">Lista B</div>
    </div>
</div>