<!-- <div class="main row" (click)="back()" [ngStyle]="style" [ngClass]="{'mostra':mostraSorteio}"> -->
    <!-- <div class="main row" (click)="back()" [ngStyle]="{'background-image': 'url(' + musicaFinal + ')'}"  [ngClass]="{'mostra':mostraSorteio}"> -->
    <!-- <div class="col-sm" [ngClass]="{'esconde':mostraSorteio}">
        <img class="img-fluid" [ngClass]="{'slide-in-top':mostra, 'slide-in-bottom ':!mostra}" [src]='musicaSorteada1'>
        <img class="img-fluid" [ngClass]="{'slide-in-top':!mostra, 'slide-in-bottom ':mostra}" [src]='musicaSorteada2'>
    </div>
    <div class="col-sm" [ngClass]="{'esconde':mostraSorteio}">
        <img class="img-fluid" [ngClass]="{'slide-in-top':mostra, 'slide-in-bottom ':!mostra}" [src]='musicaSorteada3'>
        <img class="img-fluid" [ngClass]="{'slide-in-top':!mostra, 'slide-in-bottom ':mostra}" [src]='musicaSorteada4'>
    </div>
    <div class="col-sm" [ngClass]="{'esconde':mostraSorteio}">
        <img class="img-fluid" [ngClass]="{'slide-in-top':mostra, 'slide-in-bottom ':!mostra}" [src]='musicaSorteada5'>
        <img class="img-fluid" [ngClass]="{'slide-in-top':!mostra, 'slide-in-bottom ':mostra}" [src]='musicaSorteada6'>
    </div>
</div> -->


<div (click)="back()">
    <img class="img-fluid" [ngClass]="{'slide-in-top':mostra, 'slide-in-bottom ':!mostra}" [src]='musicaSorteada1'>
    <img class="img-fluid" [ngClass]="{'slide-in-top':!mostra, 'slide-in-bottom ':mostra}" [src]='musicaSorteada2'>
</div>