/* .categorias {
    padding: 0;
    margin: -0.4%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
} */

/* .categorias {
    background-image: url('../../../assets/categorias/menu.png');
    background-repeat: no-repeat;
    width: 1425px;
    height: 1425px;
    max-width: 100%;
    max-height: 100%;
} */
.categorias{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    background:url(../../../assets/categorias/menu.png);
    height: 100%;
    margin: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.categoria-unica {
    width: 36.8%;
    height: 20%;
    position: fixed;
    top: 12%;
    left: 6.6%;
}

.categoria-unica:hover {
    background-color: white;
    opacity: 0.5;
}


.coop {
    left: 56.6%;
}

.feminino {
    top: 39.5%;
}

.masculino {
    top: 39.5%;
    left: 56.6%;
}