.categorias {
    padding: 0;
    margin: -0.4%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.categoria-unica {
    background: #17a2b8;
    padding: 1%;
    width: 375px;
    height: 372px;
    margin-top: 3%;
    line-height: 724%;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.categoria-unica:hover {
    opacity: 0.5;
}

.intermediario {
    background-image: url('../../../assets/categorias/intermediario.png');
    background-size: 375px 372px;
}

.coop {
    background-image: url('../../../assets/categorias/coop.png');
    background-size: 375px 372px;
}

.feminino {
    background-image: url('../../../assets/categorias/feminino.png');
    background-size: 375px 372px;
}

.masculino {
    background-image: url('../../../assets/categorias/masculino.png');
    background-size: 375px 372px;
}